<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Website Design - Easy tutorials</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <section class="sub-header">
        <nav>
            <a href="/about"><img
                    src="https://lh3.googleusercontent.com/a-/AOh14GjvWvkSAZM9M6-rtIwU7ofWpAmd8FjYLICGd_LW=s288-p-rw-no"
                    alt="error"></a>
            <div class="nav-links" id="navlinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/activity">ACTIVITY</a></li>
                    <li><a href="/course">SKILLS</a></li>
                    <li><a href="/contact">FEEDBACK</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>Activity</h1>
    </section>

    <section class="facilities">
        <h1>Recent Activity</h1>
        <div class="row">
            <div class="facilities-col">
                <img src="img/act3.png" alt="error">
                <h3>Problem Solving 5<i class="fa fa-star"></i> at HackerRank</h3>
            </div>
            <div class="facilities-col">
                <img src="img/act1.png" alt="error">
                <h3>Cpp 5<i class="fa fa-star"></i> at HackerRank</h3>
            </div>
            <div class="facilities-col">
                <img src="img/act2.png" alt="error" id="hacker">
                <h3>Python 3<i class="fa fa-star"></i> at HackerRank</h3>
            </div>
        </div>
    </section>
    <section class="facilities">
        <div class="row">
            <div class="facilities-col">
                <img src="img/act4.png" alt="error">
                <h3>Problem Solving 4<i class="fa fa-star"></i> at HackerRank</h3>
            </div>
            <div class="facilities-col">
                <img src="img/act5.png" alt="error">
                <h3>HackerRank Profile</h3>
            </div>
            <div class="facilities-col">
                <img src="img/lang.jpg" alt="error" id="hacker">
                <h3>Start Learning Python</h3>
            </div>
        </div>
    </section>

    <section class="buttom">
        <h2>Quick links</h2>
        <div class="container">
            <div class="last">
                <div class="buttom-col">
                    <h3>Contact Me</h3>
                    <ul>
                        <li>Chhapra, Bihar</li>
                        <li>Email: alok@info.in</li>
                        <li>Phone: 9823779889</li>
                    </ul>
                </div>
                <div class="buttom-col" id="social">
                    <h3>Follow Me</h3>
                    <div class="social-links">
                        <a href="https://m.facebook.com/alok.alokroy.585"><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/alok-kumar-rai-3261b21ba/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="buttom-col">
                    <h3>Message</h3>
                    <form action="/message" method="POST">
                        <input type="email" required placeholder="Email-Id" name="mail">
                        <input type="text" required placeholder="Message" name="message">
                        <input type="submit" value="Submit" class="btoon">
                    </form>
                </div>
            </div>
        </div>
    </section>




    <script>
        let navlink = document.getElementById("navlinks");
        function showMenu() {
            navlink.style.right = "0";
        }

        function hideMenu() {
            navlink.style.right = "-200px";
        }

    </script>
</body>

</html>