<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellcome to Alok.info</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>    
    <section class="header">
        <nav>      
            <a href="/blog"><img
                    src="https://lh3.googleusercontent.com/a-/AOh14GjvWvkSAZM9M6-rtIwU7ofWpAmd8FjYLICGd_LW=s288-p-rw-no"
                    alt="error"></a>
            <div class="nav-links" id="navlinks">
                <i class="fa fa-times" onclick="hideMenu()" ></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/activity">ACTIVITY</a></li>
                    <li><a href="/course">SKILLS</a></li>
                    <li><a href="/contact">FEEDBACK</a></li>                    
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>Wellcome to Alok@info.in</h1>            
            <a href="/" class="hero-btn"> Click Here To know More About Me</a>            
        </div>
    </section>



    <!-- Course  -->
    <section class="course">
        <h1>My Educational Details</h1>
        <div class="row">
            <div class="course-col">
                <h3>Secondary School</h3>
                <p>I have completed My Secondary School Education from Kendriya Vidyalaya Mashrak, Saran(BIHAR) in year
                    2018.</p>
            </div>
            <div class="course-col">
                <h3>Senior School</h3>
                <p>I have completed My Senior School Education from RNP Public School, Saran(BIHAR) in year 2020.</p>
            </div>
            <div class="course-col">
                <h3>Graduation</h3>
                <p>I am a Second year Computer Science student currently persuing my B.tech degree from Indian Institute
                    Of Information Technology, Kalyani, West-Bengal</p>
            </div>
        </div>
    </section>

    <!-- Campus -->
    <section class="campus">
        <h1>My Educational Institute</h1>
        <div class="row">
            <div class="campus-col">
                <img src="img/kv.jpg" alt="error">
                <div class="layer">
                    <h1>KV Mashrak</h1>
                </div>
            </div>
            <div class="campus-col">
                <img src="img/rnp.jpg" alt="error">
                <div class="layer">
                    <h1>RNP School</h1>
                </div>
            </div>
            <div class="campus-col">
                <img src="img/iiitk.jpg" alt="error">
                <div class="layer">
                    <h1>IIIT kalyani</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Facilities -->
    <section class="facilities">
        <h1>My Tech Skills</h1>
        <div class="row">
            <div class="facilities-col">
                <img src="img/problem.jpeg" alt="error">
                <h3>Coding</h3>
                <p>Coding is My Passion 5<i class="fa fa-star"></i> @Problem Solving at HackerRank,</p>
            </div>
            <div class="facilities-col">
                <img src="img/web.png" alt="error">
                <h3>Full Stack Web Developer</h3>
                <p>Well Knowledge of HTML,CSS,JavaScript, Node.js,Mongoose,Express</p>
            </div>
            <div class="facilities-col">
                <img src="img/lang.jpg" alt="error" id="hacker">
                <h3>Programming Languages</h3>
                <p>Well Knowledge of Programming Languages like C,C++,Python,</p>
            </div>
        </div>
    </section>

    <!-- testimonials -->
    <section class="testimonial">
        <h1>What My Friends Says</h1>

        <div class="row">
            <div class="testinomial-col">
                <img src="img/user1.jpg" alt="error">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero ea, vitae eius deleniti aliquam
                        consequatur voluptatum natus eaque laborum adipisci!</p>
                    <h3>Anonymous Priya</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="testinomial-col">
                <img src="img/user2.jpg" alt="error">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero ea, vitae eius deleniti aliquam
                        consequatur voluptatum natus eaque laborum adipisci!</p>
                    <h3>Rohan Das</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action -->
    <section class="cta">
        <h1>Please Drop Your Valueable FeedBack</h1>
        <br>
        <a href="/contact" class="hero-btn">FeedBack Here</a>
    </section>




    <section class="buttom">
        <h2>Quick links</h2>
        <div class="container">
            <div class="last">
                <div class="buttom-col">
                    <h3>Contact Me</h3>
                    <ul>
                        <li>Chhapra, Bihar</li>
                        <li>Email: alokkumarrai2003@gmail.com</li>
                        <li>Phone: 7321015099</li>
                    </ul>
                </div>
                <div class="buttom-col" id="social">
                    <h3>Follow Me</h3>
                    <div class="social-links">
                        <a href="https://m.facebook.com/alok.alokroy.585"><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/alok-kumar-rai-3261b21ba/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="buttom-col">
                    <h3>Message</h3>
                    <form action="/message" method="POST">
                        <input type="email" required placeholder="Email-Id" name="email">
                        <input type="text" required placeholder="Message" name="message">
                        <input type="submit" value="Submit" class="btoon">
                    </form>
                </div>
            </div>
        </div>
    </section>


    <script>
        let navlink = document.getElementById("navlinks");
        function showMenu() {
            navlink.style.right = "0";
        }

        function hideMenu() {
            navlink.style.right = "-200px";
        }

    </script>
</body>

</html>